[Catalogue0000]
src_name: GAMA
cat_path: /import/bill1/sami_data/catalogues
cat_name: sami_sel_20140911_v2.0_updatedJuly2015_v0.9.fits
img_path: /import/bill1/sami_data/imaging/gama/SDSS_gama_cutouts
img_name: G[galaxy_id]_SDSS_g.fits
ext_numb: 0
[Catalogue0001]
src_name: SDSS
cat_path: /import/bill1/sami_data/catalogues
cat_name: Cut.matched_V1.6.fits
img_path: /import/bill1/sami_data/imaging/clusters/sdss
img_name: [galaxy_id]_sdss_30.fits
ext_numb: 1
[Catalogue0002]
src_name: VST
cat_path: /import/bill1/sami_data/catalogues
cat_name: Cut.matched_V1.6.fits
img_path: /import/bill1/sami_data/imaging/clusters/vst
img_name: [galaxy_id]_vst_30.fits
ext_numb: 2
